<div class="fm-match-grid-item">
	<a href='http://portale.fitet.org/risultati/archivio/Giornata.asp?INCONTRO=$matchId&ANNO=$seasonId&CAM=$championshipId&FORMULA=$formula' target="_blank">
		<div class="fm-match-grid-item-label">$championshipName</div>
		<table>
			<tr>
				<td class="fm-table-column-match">
					<div class="fm-team-calendar-match">
						<div class="$home_class">$home_cell<span>$home_result</span>
							<span class="fm-win-marker"><svg aria-label="Winner" height="8" role="img" width="6"><polygon
								fill="#000" points="6,0 6,8 0,4"></polygon></svg></span>
						</div>
						<div class="$away_class">$away_cell<span>$away_result</span>
							<span class="fm-win-marker"><svg aria-label="Winner" height="8" role="img" width="6"><polygon
								fill="#000" points="6,0 6,8 0,4"></polygon></svg></span>
						</div>
					</div>
				</td>
				<td class="fm-table-column-date">$date<br>$time</td>
			</tr>
		</table>
	</a>
</div>
