
.fm-progressbar-inner-outer {
	width: 100%;
	min-width: 15rem;
	background-color: #c5c5c5;
	border-radius: 1rem;
	overflow: hidden;
}

.fm-progressbar-inner {
	width: 1%;
	height: 1.2rem;
	background-color: #2271b1;
	border-radius: 1rem;
	text-align: center;
	line-height: 1.2rem;
	color: white;
	-webkit-transition: width,background-color 200ms ease-out;
	-moz-transition: width,background-color 200ms ease-out;
	-o-transition: width,background-color 200ms ease-out;
	transition: width,background-color 200ms ease-out;
}

.fm-progressbar-inner.idle {
	background-color: #228bb1;
}
.fm-progressbar-inner.warning {
	background-color: #ce5c05;
}
.fm-progressbar-inner.fail {
	background-color: #b32d2e;
}

.fm-progressbar-inner.completed {
	background-color: #007017;
}
