.fm-sc-athlete-detail-top {
	display: flex;
	gap: 1rem;
}

.fm-sc-athlete-detail-menu {
	margin-left: auto;
}

.fm-sc-athlete-detail-menu > * {
	display: block;
}

.fm-sc-athlete-detail hr {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.fm-athlete-detail-hidden {
	display: none
}

@media (max-width: 767px) {
	.fm-sc-athlete-detail-top {
		flex-direction: column;
	}

	.fm-sc-athlete-detail-menu {
		margin-left: 0;
	}
}
