.fm-team-list-filter {
	margin-bottom: 1em;
	display: flex;
}

.fm-team-list-filter > div {
	display: flex;
	gap: .5em;
	align-items: center;
	margin-left: auto;
}

.fm-team-list-filter > div img {
	height: 1em;
}

.fm-team-list-filter > div select {
	width: auto;
}
