.fm-match-card td.fm-match-card-column-result {
	text-align: left;
	padding-top: 1.2em;
	width: 70%;
}

.fm-match-card-column-result > div {
	display: flex;
	flex-flow: column;
	gap: .5em;
	position: relative;

}

.fm-match-card-column-result > div > div {
	display: flex;
	gap: 1em;
}

.fm-match-card-column-result > div > div > span {
	margin-left: auto;
	text-align: right;
}

.fm-table-column-date {
	text-align: center;
	width: 30%;
	text-align: -webkit-center;
    font-size: .9em;
    overflow: hidden;
    max-width: 0;
}

.fm-team-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15em;
}

.fm-team-name:hover {
	white-space: normal;
}

.fm-match-card {
	position: relative;
	margin: 12px 0.25em;
}

.fm-match-card table,
.fm-match-card .fm-match-card-label {
	font-size: .875em;
}

.fm-match-card table {
	margin: 0; /* reset table */
	color: #2e373b; /*todo solo ttmorelli*/
}

.fm-match-card:hover table {
	background-color: #f5f5f5;
	cursor: pointer;
}


.fm-match-card .fm-match-card-label {
	position: absolute;
	top: -10px;
	left: 10px;
	background: white;
	color: gray;
	padding: 0 5px;
	border: 1px solid transparent;
	line-height: 1.5em;
}

.fm-match-card:hover .fm-match-card-label {
	background-color: #f5f5f5;
	border-color: #e2ecf3;
}

.fm-team-cell {
	display: flex;
	gap: 0.5em;
	align-items: center;
}

.fm-win-marker {
	position: absolute;
	right: -12px;
	display: none;
}

.fm-match-won .fm-win-marker {
	display: block;
}

.fm-match-lost {
	color: #969696;
}

.fm-match-team-owned {
	font-weight: 600;
}


