<div class="fm-team-standings">
	<h3>{{teamStandingsLabel}}</h3>
	{{table}}
	<div class="fm-standing-legend">
		<span><span class="fm-standing-legend-promotion"></span><span>{{promoLabel}}</span></span>
		<span><span class="fm-standing-legend-playoff"></span><span>{{playOffLabel}}</span></span>
		<span><span class="fm-standing-legend-playout"></span><span>{{playOutLabel}}</span></span>
		<span><span class="fm-standing-legend-relegation"></span><span>{{relegationLabel}}</span></span>
		<span><span class="fm-standing-legend-retired"></span><span>{{retiredLabel}}</span></span>
	</div>
</div>
