.fm-team-cell img {
	object-fit: cover;
	min-width: 2em;
	width: 2em;
	height: 2em;
	object-position: top;
}
.fm-player-cell + .fm-player-cell {
    margin-top: 3px;
    /*margin-top: -10px;
    margin-left: 10px;*/
}
