.fm-team-card-players {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.fm-team-card-players .fm-player-card {
	flex-flow: column;
	width: 12rem;

}

.fm-team-card-players .fm-player-content {
	text-align: center;
}

.fm-team-card-details-link {
	margin-bottom: 1rem;
}
