.fm-team-card-players-content {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.fm-team-card-players-content .fm-player-card {
	flex-flow: column;
	width: 12em;

}

.fm-team-card-players-content .fm-player-content {
	text-align: center;
}

.fm-team-card-details-link {
	margin-bottom: 1em;
}
