.fm-player-caps-menu {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.fm-player-caps-menu > span,
.fm-player-caps-menu > a {
	display: flex;
	gap: .5em;
	align-items: center;
}

.fm-player-caps-menu img {
	height: 1em;
}
#fm-players-caps .fm-table-column-tournaments,
#fm-players-caps .fm-table-column-championships,
#fm-players-caps .fm-table-column-total {
	text-align: right;
}

.fm-club-cell,
.fm-player-cell {
	display: flex;
	gap: .5em;
	align-items: center;
}

.fm-club-cell .fm-club-image img,
.fm-player-cell .fm-player-image img {
	height: 2em;
	width: 2em;
	min-width: 2em;
	min-height: 2em;
}

.fm-player-cell .fm-player-image img {
	object-fit: cover;
}

.fm-club-cell .fm-club-image img {
	object-fit: contain;
}

