<div class='fm-sc-athlete-card'>
	<div class='fm-sc-athlete-image-wrapper'>
	{{linkWrapperStart}}
	<img class='fm-sc-athlete-image' alt='{{name}}' src='http://portale.fitet.org/images/atleti/{{id}}.jpg'
		 onError='this.onerror=null;this.src="http://portale.fitet.org/images/atleti/m-vuoto.png";'/>
	{{linkWrapperEnd}}
	</div>
	<div class='fm-sc-athlete-content'>
		<div class="fm-sc-athlete-name {{nameClass}}">
			{{linkWrapperStart}}
			<b>{{name}}<span class="{{codeClass}}"> - {{code}}</span></b>
			{{linkWrapperEnd}}
		</div>
		<div class="fm-sc-athlete-club {{clubClass}}"><b>{{clubLabel}}</b>: <span>{{clubName}}</span><span class="{{regionClass}}"> - {{region}}</span><span class="{{clubCodeClass}}"> - {{clubCodeLabel}}: {{clubCode}}</span></div>
		<div class="fm-sc-athlete-rank {{rankClass}}"><b>{{rankLabel}}</b>: <span>{{rank}}</span><span class="{{bestClass}}"> - {{bestLabel}}: {{best}}</span></div>
		<div class="fm-sc-athlete-points {{pointsClass}}"><b>{{pointsLabel}}</b>: <span>{{points}}</span></div>
		<div class="fm-sc-athlete-category {{categoryClass}}"><b>{{categoryLabel}}</b>: <span>{{category}}</span></div>
		<div class="fm-sc-athlete-diff {{diffClass}}"><b>{{diffLabel}}</b>: <span>{{diff}}</span></div>
		<div class="fm-sc-athlete-sector {{sectorClass}}"><b>{{sectorLabel}}</b>: <span>{{sector}}</span></div>
		<div class="fm-sc-athlete-region {{regionClass}}"><b>{{regionLabel}}</b>: <span>{{region}}</span></div>
		<div class="fm-sc-athlete-type {{typeClass}}"><b>{{typeLabel}}</b>: <span>{{type}}</span></div>
		<div class="fm-sc-athlete-sex {{sexClass}}"><b>{{sexLabel}}</b>: <span>{{sex}}</span></div>
		<div class="fm-sc-athlete-birthDate {{birthDateClass}}"><b>{{birthDateLabel}}</b>: <span>{{birthDate}}</span></div>
	</div>
</div>
