.fm-add-club-content-inner {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
	border: 1px solid gray;
	border-radius: 6px;
	padding: 1rem;
	background: #e5e5e5;
	max-width: 700px;
	margin-bottom: 2rem;
}

.fm-add-club-content-inner label {
	color: black;
	font-size: 14px;
	font-weight: 600;
}

.autoComplete_wrapper {
	display: inline-block;
	position: relative;
	width: 100%;
}

.autoComplete_wrapper > ul {
	position: absolute;
	max-height: 226px;
	overflow-y: scroll;
	top: 100%;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0.5rem 0 0 0;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid rgba(33, 33, 33, 0.1);
	z-index: 1000;
	outline: none;
}

.autoComplete_wrapper > ul > li {
	padding: 10px;
	list-style: none;
	text-align: left;
	/*font-size: 16px;*/
	color: #212121;
	transition: all 0.1s ease-in-out;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.2s ease;
}

.autoComplete_wrapper > ul > li::selection {
	color: rgba(#ffffff, 0);
	background-color: rgba(#ffffff, 0);
}

.autoComplete_wrapper > ul > li:hover {
	cursor: pointer;
	background-color: rgba(123, 123, 123, 0.1);
}

.autoComplete_wrapper > ul > li mark {
	background-color: transparent;
	color: #2271b1;
	font-weight: bold;
}

.autoComplete_wrapper > ul > li mark::selection {
	color: rgba(#ffffff, 0);
	background-color: rgba(#ffffff, 0);
}

.autoComplete_wrapper > ul > li[aria-selected="true"] {
	background-color: rgba(123, 123, 123, 0.1);
}

.autoComplete_wrapper > ul p {
	margin: .75rem;
	text-align: center;
}

.fm-autocomplete-result {
	width: 100%;
	display: flex;
	gap: 1rem
}

.fm-autocomplete-club-logo {
	width: 1.5rem;
	height: 1.5rem;
}

.fm-autocomplete-club-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	flex: 1;
}

.fm-autocomplete-club-province {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 100;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.fm-add-club-content .fm-autocomplete-club-logo {
	width: 4.5rem;
	height: 4.5rem;
}
