a.fm-reset-status,
a.fm-reset-status:hover,
a.fm-reset-status:active {
	color: darkred;
}

.fm-player-cell img {
	width: 3em;
	height: 3em;
}

.dynatable-wrapper table {
	border: 1px solid #c3c4c7;
	width: 100%;
	border-collapse: collapse;
}

.dynatable-header {
	margin-bottom: 1em;
}

.dynatable-pagination-links {
	margin-top: 0;
	margin-bottom: 0;
}

.dynatable-records {
	align-items: baseline;
}

.dynatable-wrapper table,
.dynatable-wrapper th,
.dynatable-wrapper td {
	border: 1px solid #cacaca;
}

.dynatable-wrapper thead {
	background-color: white;
}

.dynatable-wrapper tbody tr:nth-child(even) {
	background-color: white;
}

.dynatable-wrapper th,
.dynatable-wrapper td {
	padding: 1em;
	text-align: left;
}

.fm-team-cell,
.fm-player-cell {
	display: flex;
	gap: .5em;
	align-items: center;
}

.fm-team-cell-wrapper {
	display: flex;
	gap: .5rem;
	align-items: center;
}

.fm-team-players-list {
	margin-top: 1em;
	margin-left: 2em;
}

.fm-team-players-list.fm-closed {
	display: none;
}

.fm-team-cell-wrapper.fm-closed .fm-collapse {
	display: none;
}

.fm-team-cell-wrapper:not(.fm-closed ) .fm-expand {
	display: none;
}

.fm-team-cell-wrapper span.fm-toggle {
	cursor: pointer;
	margin-left: auto;
}

.fm-team-cell-wrapper span.fm-toggle {
	cursor: pointer;
	margin-left: auto;
}
