<table class="form-table" role="presentation">
	<tbody>
	<tr><th scope="row">{{affiliationDateLabel}}</th><td>{{affiliationDate}}</td></tr>
	<tr><th scope="row">{{emailLabel}}</th><td>{{email}}</td></tr>
	<tr><th scope="row">{{statusLabel}}</th><td>{{status}}</td></tr>
	<tr><th scope="row">{{lastUpdateLabel}}</th><td>{{lastUpdate}}</td></tr>
	</tbody>
</table>
<p style="display: {{displayUpdatingDisclaimer}}">{{updatingDisclaimer}}</p>

<div style="display: {{displayPlayers}}">
	<h1>{{playersLabel}}</h1>
	{{players}}
</div>
<div style="display: {{displayChampionships}}">
	<h1>{{championshipsLabel}}</h1>
	{{championships}}
	<p><a href="#" data-club-code="{{clubCode}}" class="fm-download-full-history">{{downloadFullHistoryLabel}}</a><br>
		{{downloadFullHistoryDisclaimer}}</p>
</div>
<div style="display: {{displayNationalTitles}}">
	<h1>{{nationalTitlesLabel}}</h1>
	{{nationalTitles}}
</div>
<div style="display: {{displayRegionalTitles}}">
	<h1>{{regionalTitlesLabel}}</h1>
	{{regionalTitles}}
</div>
<div style="display: {{displayAttendances}}">
	<h1>{{attendancesLabel}}</h1>
	{{attendances}}

</div>
