<div>
    <h3>Crea pagine</h3>
    <p>Clicca qui per creare le pagine <i>Giocatori</i>, <i>Squadre</i>, <i>Incontri</i>: <a
        id="fm-create-page" href="#" data-club="{{clubCode}}">Crea</a></p>
</div>
<table class="form-table" role="presentation">
	<tbody>
	<tr><th scope="row">{{statusLabel}}</th><td>{{status}}</td></tr>
	<tr><th scope="row">{{lastUpdateLabel}}</th><td>{{lastUpdate}}</td></tr>
	</tbody>
</table>

<p style="display: {{displayUpdatingDisclaimer}}">{{updatingDisclaimer}} | <a href="{{resetStatusUrl}}" class="fm-reset-status">{{resetStatusLabel}}</a></p>

<div>
	<h1>{{playersLabel}}</h1>
	{{players}}
</div>
<div>
	<h1>{{championshipsLabel}}</h1>
	{{championships}}
	<p><a href="#"
		  data-club-code="{{clubCode}}"
		  data-season-id-list="{{not_loaded_seasons}}"

		  class="fm-download-full-history">{{downloadFullHistoryLabel}}</a><br>
		{{downloadFullHistoryDisclaimer}}</p>
</div>
<div>
	<h1>{{nationalTitlesLabel}}</h1>
	{{nationalTitles}}
</div>
<div>
	<h1>{{regionalTitlesLabel}}</h1>
	{{regionalTitles}}
</div>
<div id="fm-overlay" style="display:none;">
    <div id="fm-overlay-inner">
        <div id="fm-progressbar"></div>
        <div id="fm-label"></div>
    </div>
</div>
