#national-doubles-tournaments .fm-points-silver:after {
	content: '\2B24';
	margin-left: 5px;
	color: silver;
}
#national-doubles-tournaments .fm-points-gold:after {
	content: '\2B24';
	margin-left: 5px;
	color: darkgoldenrod;
}

#national-doubles-tournaments .fm-points-bronze:after {
	content: '\2B24';
	margin-left: 5px;
	color: saddlebrown;
}

#national-doubles-tournaments .fm-table-column-round {
	text-align: right;
}

/*todo sposta in tema*/
#national-doubles-tournaments td.fm-table-column-competition {
	padding-top: 0;
	padding-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 25rem;
}

#national-doubles-tournaments td.fm-table-column-partner {
	max-width: 20rem;
}
