#national-tournaments .fm-points-silver:after {
	content: '\2B24';
	margin-left: 5px;
	color: silver;
}
#national-tournaments .fm-points-gold:after {
	content: '\2B24';
	margin-left: 5px;
	color: darkgoldenrod;
}

#national-tournaments .fm-points-bronze:after {
	content: '\2B24';
	margin-left: 5px;
	color: saddlebrown;
}

#national-tournaments .fm-table-column-round {
	text-align: right;
}

/*todo sposta in tema*/
#national-tournaments td.fm-table-column-competition {
	padding-top: 0;
	padding-bottom: 0;
}
