.fm-player-detail-menu {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.fm-player-detail-menu > span,
.fm-player-detail-menu > a {
	display: flex;
	gap: .5em;
	align-items: center;
}

.fm-player-detail-menu img {
	height: 1em;
}


.fm-player-detail-hidden {
	display: none
}

