<div class="fm-player-detail">
	<div class="fm-player-detail-top">
		<div class="fm-player-detail-menu">
			{{pageMenu}}
		</div>
		<hr>
		<div class="fm-player-detail-main-content">{{mainContent}}</div>
	</div>
	<a id="ranking" class="{{rankingClass}}"></a>
	<div class="{{rankingClass}}">
		<hr>
		{{ranking}}
	</div>
	<a id="season" class="{{seasonClass}}"></a>
	<div class="{{seasonClass}}">
		<hr>
		{{season}}
	</div>
	<a id="championships" class="{{championshipsClass}}"></a>
	<div class="{{championshipsClass}}">
		<hr>
		{{championships}}
	</div>
	<a id="tournaments"></a>
	<div class="{{nationalTournamentsClass}}">
		<hr>
		{{nationalTournaments}}
	</div>
	<div class="{{nationalDoublesTournamentsClass}}">
		<hr>
		{{nationalDoublesTournaments}}
	</div>
	<div class="{{regionalTournamentsClass}}">
		<hr>
		{{regionalTournaments}}
	</div>


</div>
