.wp-list-table .column-lastUpdate,
.wp-list-table .column-configuration {
	max-width: 12em;
	width: 20%;
}


.fm-club-cell {
	display: flex;
	gap: 1em
}

.fm-club-cell > div {
	flex: 1;
}

.fm-club-logo {
	border: 1px solid #c5c5c5;
	width: 4.5em;
	height: 4.5em;
	border-radius: 3px;
}

@media screen and (max-width: 782px) {
	.fm-club-logo {
		width: 2em;
		height: 2em;
	}
}


.fm-club-cell .row-actions .delete button,
.fm-club-cell .row-actions .delete button:active,
.fm-club-cell .row-actions .delete button:focus,
.fm-club-cell .row-actions .delete button:hover {
	color: #b32d2e;
}

.fm-club-cell .row-actions .retry button,
.fm-club-cell .row-actions .retry button:active,
.fm-club-cell .row-actions .retry button:focus,
.fm-club-cell .row-actions .retry button:hover {
	color: #b32d2e;
}

.fm-club-cell .row-actions .fm-btn-update,
.fm-club-cell .row-actions .fm-btn-update:active,
.fm-club-cell .row-actions .fm-btn-update:focus,
.fm-club-cell .row-actions .fm-btn-update:hover {
	color: #007017;
}

.fm-update-content,
.fm-delete-content {
	display: none
}

.fm-update-actions-container {
	display: none;
}
