<div class='fm-player-card'>
	<div class='fm-player-image-wrapper'>
		{{playerImage}}
	</div>
	<div class='fm-player-content'>
		<div class="fm-player-name {{nameClass}}">
			<a href="{{playerUrl}}"><b>{{name}}<span class="{{codeClass}}"> - {{code}}</span></b></a>
		</div>
		<div class="fm-player-club {{clubClass}}"><b>{{clubLabel}}</b>: <span>{{clubName}}</span><span class="{{regionClass}}"> - {{region}}</span><span class="{{clubCodeClass}}"> - {{clubCodeLabel}}: {{clubCode}}</span></div>
		<div class="fm-player-rank {{rankClass}}"><b>{{rankLabel}}</b>: <span>{{rank}}</span><span class="{{bestClass}}"> - {{bestLabel}}: {{best}}</span></div>
		<div class="fm-player-points {{pointsClass}}"><b>{{pointsLabel}}</b>: <span>{{points}}</span></div>
		<div class="fm-player-category {{categoryClass}}"><b>{{categoryLabel}}</b>: <span>{{category}}</span></div>
		<div class="fm-player-diff {{diffClass}}"><b>{{diffLabel}}</b>: <span>{{diff}}</span></div>
		<div class="fm-player-sector {{sectorClass}}"><b>{{sectorLabel}}</b>: <span>{{sector}}</span></div>
		<div class="fm-player-region {{regionClass}}"><b>{{regionLabel}}</b>: <span>{{region}}</span></div>
		<div class="fm-player-type {{typeClass}}"><b>{{typeLabel}}</b>: <span>{{type}}</span></div>
		<div class="fm-player-sex {{sexClass}}"><b>{{sexLabel}}</b>: <span>{{sex}}</span></div>
		<div class="fm-player-birthDate {{birthDateClass}}"><b>{{birthDateLabel}}</b>: <span>{{birthDate}}</span></div>
	</div>
</div>
