.fm-team-calendar thead {
	display: none;
}

.fm-team-calendar .dynatable-footer {
	display: none;
}

.fm-team-calendar-match {
	display: flex;
	flex-flow: column;
	gap: .5em;
}

.fm-team-calendar-match > div {
	display: flex;
	gap: 2em;
}

.fm-team-calendar-match > div > span {
	margin-left: auto;
	min-width: 2em;
	text-align: right;
}

.fm-team-calendar .fm-table-column-time,
.fm-team-calendar .fm-table-column-date,
.fm-team-calendar .fm-table-column-result {
	text-align: center;
	vertical-align: middle;
}

.fm-team-calendar .fm-table-column-date {
	width: 10em;
}

.fm-team-calendar .fm-table-column-time {
	width: 6em;
}

.fm-team-calendar .fm-table-column-result {
	width: 6em;
}


.fm-team-calendar .fm-team-calendar-main-team {
	font-weight: bold;
}
.fm-match-card-label {
    display: none;
}
.fm-team-calendar td.fm-match-card-column-result {
    padding: 6px 12px !important;
}
