
.fm-collapsible {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	background-color: #555;
	color: #efefef;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.fm-collapsible-active, .fm-collapsible:hover {
	background-color: #333;
}


/* Style the collapsible content. Note: hidden by default */
.fm-collapsible-content {
	padding: 0 18px;
	background-color: #e1e1e1;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}


.fm-collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.fm-collapsible-active:after {
	content: "\2212";
}
