.fm-player-list-menu {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.fm-player-list-menu > span,
.fm-player-list-menu > a {
	display: flex;
	gap: .5em;
	align-items: center;
}

.fm-player-list-menu img {
	height: 1em;
}

.fm-player-list-filter {
	margin-bottom: 1em;
	display: flex;
}

.fm-player-list-filter > div {
	display: flex;
	gap: .5em;
	align-items: center;
	margin-left: auto;
}

.fm-player-list-filter > div img {
	height: 1em;
}

.fm-player-list-filter > div select {
	width: auto;
}

.fm-player-list-filter > div label {
	margin-bottom: 0;
	white-space: nowrap;
}

.fm-player-list-filter > div label input[type="checkbox"] {
	margin-right: 0.5em;
}

.fm-hide-fuori-quadro .fm-player-type-fuori-quadro {
	display: none;
}

.fm-hide-italiani .fm-player-type-italiani {
	display: none;
}

.fm-hide-stranieri .fm-player-type-stranieri {
	display: none;
}

.fm-hide-provvisori .fm-player-type-provvisori {
	display: none;
}
