.fm-player-list-menu {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.fm-player-list-menu > span,
.fm-player-list-menu > a {
	display: flex;
	gap: .5em;
	align-items: center;
}

.fm-player-list-menu img {
	height: 1em;
}

.fm-player-list-filter {
	margin-bottom: 1em;
	display: flex;
}

.fm-player-list-filter > div {
	display: flex;
	gap: .5em;
	align-items: center;
	margin-left: auto;
}

.fm-player-list-filter > div img {
	height: 1em;
}

.fm-player-list-filter > div select {
	width: auto;
}
